---
//components
import Item from "./Item.astro";
//data
const items = [
    { url: "/", name: "Home" },
    { url: "/about", name: "About" },
];
---

<div class="bg-gray-800 p-4 fixed top-0 w-full z-10">
    <nav class="flex items-center justify-between">
        <div class="text-white font-bold">Astro Example Application</div>
        <div class="flex space-x-4">
            {items.map((item) => <Item {...item} />)}
        </div>
    </nav>
</div>


