---
//components
import User from "./../components/User.astro";
const { DATA } = Astro.props;
---

<div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4"
>
    {DATA.map((user) => <User {...user} />)}
</div>
