---
const { id, first_name, last_name, job_title } = Astro.props;
---

<a href={`/Users/${id}`}>
    <div
        class="bg-gray-800 text-white p-4 rounded-md shadow-md flex justify-between items-center"
    >
        <h2 class="text-2xl font-bold">{`${first_name} ${last_name}`}</h2>
        <p class="text-zinc-300">{job_title}</p>
    </div>
</a>
